/**
 * Created ${DATE}
 * Header for the ${INST} Instruction
 *
 * (C) Sid Young
 * Free for non-commercial use.
 */
#ifndef ${INST}_${HOUR}_INST_H
#define ${INST}_${HOUR}_INST_H

#include <string>
#include <vector>

#include "Instruction.h"
#include "Label.h"
#include "Logger.h"


class ${INST}Inst : public Instruction
{
protected:
Logger *pLog;
Instruction *Process_${INST}_Instruction(std::vector<std::string>);

public:
${INST}Inst();
Instruction * parse(std::vector<std::string>);
};
#endif
